* {
  font-family: "Poppins";
  font-style: normal;
}

body {
  font-family: "Poppins";
  font-style: normal;
  background: #f6f9fa;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.436364px;
    color: #2d2d2d;
  }

  .main {
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ddedf4;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;

    .contracts-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 16px;
    }
    @media (min-width: 768px) {
      .contracts-container {
        flex-flow: row wrap;
        justify-content: flex-start;
        flex-direction: unset;
        width: 720px;
      }
    }
    @media (min-width: 1130px) {
      .contracts-container {
        width: 1088px;
      }
    }
  }
}
@media (min-width: 768px) {
  .header {
    align-self: flex-start;
  }
  .contracts-container {
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction: unset;
    width: 720px;
  }
}
