body {
  width: 1440px;
  height: 990px;
  font-family: "Poppins";
  font-style: normal;
  background: #f6f9fa;
}

.App {
  padding: 11px 139px;
}

.Header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.436364px;
  color: #2d2d2d;
}

.main {
  padding: 30px;
  position: relative;
  background: #ffffff;
  border: 1px solid #ddedf4;
  border-radius: 9px;
}

.projects-box {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  padding-bottom: 26px;
  position: relative;
  width: 100%;
  height: 100%;
}
