.search-bar-container {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  padding: 10px;
  // width: 289px;
  height: 46px;
  border-radius: 7px;
  border: 2px #2d2d2d solid;
  opacity: 0.5;

  width: auto;
}

.search-bar {
  border: unset;
}
.search-bar:hover,
.search-bar:focus {
  outline: unset;
}

// @media all and (max-width: 1024px) {
//   .search-bar-container {
//     width: auto;
//   }
// }
@media (min-width: 768px) {
  .search-bar-container {
    width: 289px;
  }
}
