.search-bar-container {
  width: auto;
  height: 46px;
  position: relative;

  .search-bar {
    border-radius: 7px;
    border: 2px #2d2d2d solid;
    opacity: 0.5;
    text-indent: 10px;

    width: 100%;
    height: 100%;
  }
  img {
    position: absolute;
    right: 14.33px;
    top: 15px;
  }
}

@media (min-width: 768px) {
  .search-bar-container {
    width: 289px;
  }
}
