.search-bar-container {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  padding: 10px;
  width: 289px;
  height: 46px;
  border-radius: 7px;
  border: 2px #2d2d2d solid;
  opacity: 0.5;
  margin-bottom: 30px;
}

.search-bar {
  border: unset;
}
.search-bar:hover,
.search-bar:focus {
  outline: unset;
}
